    
.nav-countainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-logo {
    width: 100px;
    height: 100px;
    border: 1px solid;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-countainer {
    height: 251px;
    width: 100%;
    border: 1px solid;
}

.profile-content{
    display: flex;
    justify-content: space-evenly;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border: 1px solid;
}

.profile-items {
    text-align: center;
}